@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

body {
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(72,156,127,1) 100%, rgba(0,212,255,1) 100%) fixed; */
  /*background-color: red;*/
  background: url(images/Clouds.jpg);
  background-size: 1800px 1000px;
  font-family: 'Fredericka the Great';
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  color: white;
  margin-top: 50px;
}

 .btn {
  margin-top: 15px;
  padding: 5px;
  border-radius: 20px ;
  font-size: large ;
  background-image: linear-gradient(to bottom right, #015E97 , #0D9AEA);
  color: white;
}

.btn:hover {opacity: 0.6}
.btn:active {
  color: white;
} 


.userForm {
  text-align: center;
}

.inputField[type=text] {
  background-color:rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  color: white;
  width: 400px;
  text-align: center;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 30px;
}

.header1 {
  font-size: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.WeatherDiv {
  color: white;
}

